@font-face {
    font-family: 'cakefont';
    src: url('../font/cakedingbats-webfont.eot');
    src: url('../font/cakedingbats-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/cakedingbats-webfont.woff2') format('woff2'),
         url('../font/cakedingbats-webfont.woff') format('woff'),
         url('../font/cakedingbats-webfont.ttf') format('truetype'),
         url('../font/cakedingbats-webfont.svg#cake_dingbatsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0; /* Reset default body margin */
    padding: 0; /* Reset default body padding */
}

.navbar {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-logo {
    width: 120px; /* Keep the logo size */
}

.nav-menu ul {
    list-style: none;
    display: flex;
}

.nav-menu ul li {
    margin: 0 10px;
}

.nav-menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s ease;
}

.nav-menu ul li a:hover,
.nav-menu ul li a:focus {
    background: #555;
}

.icons a {
    color: #fff;
    margin-left: 10px;
}

.menu-section {
    padding: 20px;
    text-align: center;
}

.menu-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.menu-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.menu-item {
    width: 22%;
    margin-bottom: 20px;
    text-align: center; /* Center the content horizontally */
}

.menu-item img {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    margin-bottom: 8px;
    display: block;
    margin: 0 auto 8px; /* Center the images horizontally and add spacing below */
}

.menu-description {
    font-size: 1em;
    color: #666;
    margin: 0;
}



/* Contact Us Now Styles */
.contact-us-now {
  background-color: #e2e2e2; /* Light gray background for contrast */
  padding: 20px;
  text-align: center;
}

.contact-us-now h2 {
  color: #d9534f; /* Matching the About Us header */
  margin-bottom: 15px;
}

.contact-us-now p {
  color: #333; /* Darker text for readability */
  margin-bottom: 10px;
}

/* Footer Styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  footer p {
    margin: 0;
  }


.icons a img {
    width: 48px; /* Adjust image size as needed */
    height: 47px; /* Maintain aspect ratio */
    flex-shrink: 0;
}
